body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh; 
    width: 100vw;
    background-color: #ffffff;
}

.details-panel {
    position: absolute; /* Nằm đè lên trên bản đồ */
    top: 20px;
    right: 20px;
    height: 300px;
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000; /* Luôn nằm trên cùng */
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.tag-bar{
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

.tag-btn{
    padding: 8px 15px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.tag-btn.active{
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.tag-btn:hover{
    background-color: #f0f0f0;
}